* {
	box-sizing: border-box;
	font-family: 'Patrick Hand', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: max(3vw, 22px);
}

a {
	color: #5F8575
}

#save-the-date-img {
	max-height: 90vh;
	max-width: 100vw;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#container p {
	margin: 0 1rem 0.8rem 1rem;
}

#spacer {
	height: 150px;
}

/* 274 x 274 */
/* 274/2 = 137*/
#murphy-top {
	position: fixed;
	top: -274px;
	left: calc(50vw - 137px);
	rotate: 180deg;
}
#murphy-right {
	position: fixed;
	right: -274px;;
	top: calc(50vh - 137px);
	rotate: -90deg;
}
#murphy-bottom {
	position: fixed;
	bottom: -274px;;
	left: calc(50vw - 137px);
}
#murphy-left {
	position: fixed;
	left: -274px;;
	top: calc(50vh - 137px);
	rotate: 90deg;
}
.murphy-animation {
	animation-duration: 3s;
	animation-name: pop-in;
	/* animation-iteration-count: infinite; */
}
@keyframes pop-in {
	0%, 100% {
		transform: translate(0, 0);
		animation-timing-function: ease-out;
	}
	33%, 66% {
		transform: translate(0, -274px);
		animation-timing-function: ease-in;
	}
}
