* {
	box-sizing: border-box;
	font-family: 'Patrick Hand', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0.25rem;
}

a {
	color: #5F8575
}

#save-the-date-img {
	max-height: 90vh;
	max-width: 100vw;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#details {
	margin: 0 1rem;
}

#spacer {
	height: 150px;
}

#murphy {
	position: fixed;
	/* Start offscreen */
	top: -274px;
	left: -274px;
}
.murphy-animation {
	animation-duration: 3s;
	animation-name: pop-in;
	/* animation-iteration-count: infinite; */
}
@keyframes pop-in {
	0%, 100% {
		transform: translate(0, 0);
		animation-timing-function: ease-out;
	}
	33%, 66% {
		transform: translate(0, -274px);
		animation-timing-function: ease-in;
	}
}

#anim-toggle {
	/* Unhidden in JS */
	display: none;
	position:fixed;
	right: 0.25rem;
	bottom: 0.25rem;
	z-index: 99;
	background: #fff;
	color: #999;
	border: 2px solid #999;
	border-radius: 8px;
	font-size: 0.75rem;
}
