* {
	box-sizing: border-box;
	font-family: 'Patrick Hand', sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#save_the_date_img {
	max-height: 90vh;
	max-width: 100vw;
}

#more_details {
	font-size: min(9vw, 2rem);
	margin-top: 0;
	margin-bottom: 0;
}